*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#container{
    width: 1000px;
    height: 400px;
    border:2px solid black;
    position:relative;
    margin: 0 auto;
    /* background-color: lightblue; */
    overflow: hidden;
}

img{
    position:absolute;
    top: 0;
    left: 0;

}

#person{
    background-image: url(day7_challenge/img/person.png);
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 6;
}

#image{
    background-image: url(day7_challenge/img/image.jpg);
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

#mountain1{
    background-image: url(day7_challenge/img/mountain1.png);
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
}

#mountain2{
    background-image: url(day7_challenge/img/mountain2.png);
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

#mountain3{
    background-image: url(day7_challenge/img/mountain3.png);
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
}

#sky{
    background-image: url(day7_challenge/img/sky.png);
    width: 1000px;
    height: 500px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
}
